<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
 <body>
<header class="headField">
  <div class="headBox big">
    <h1> Welcome to the Travel App</h1>
  </div>
    <div class="headBox small">
      <div>Enter your destination</div>
      <input type="text" id="city" placeholder="Place or Zip">
    </div>
  <div class="headBox small">
    <div>
      Enter date of Departure
    </div>
    <input type="date" id="date" placeholder="YYYY-MM-DD">
  </div>
</header>
<div class="mid">
  <button id="submit" class="submitBox">Submit</button>
  <button id="clear" class="submitBox">Clear</button>
  <div id="hereIcome"></div>
  <div id="warningBox"></div>
  <div id="picBox">
    <img id="pict" src="">
  </div>
</div>
<div id="app">
  <div class ="holder">
    <h1>Information on Location</h1>
    <div id="locationInfo" class="outputBox">
      <div class="outputSmall" id="fullName"></div>
      <div class="outputSmall" id="subregion"></div>
      <div class="outputSmall" id="population"></div>
    </div>
  </div>
  <div class ="holder">
      <h1> Information on Weather</h1>
      <div id="weatherInfo" class="outputBox">
        <div class="outputSmall" id="HiTemperature"></div>
        <div class="outputSmall" id="LoTemperature"></div>
        <div class="outputSmall" id="pressure"></div>
      </div>
  </div>
</div>
<script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      });
  }
 </script>
</body>
</html>