$dark-blue:  #05386B;
$dark-green:  #379683;
$green: #5CDB95;
$light-green: #8EE4AF;
$milky-silky: #EDF5E1;
$fontInParagraph: 'Montserrat', sans-serif;
$fontInHeader: 'Architects Daughter', cursive;


